@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-size: min(1.5vw, 5vh);
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer base {
  body {
    @apply bg-gradient-to-r from-mybase-900 to-mybase-700;
  }
}

@layer components {
  .input {
    @apply py-8 md:py-6 lg:py-4 px-2 h-2 rounded mb-3 border-4
    border-mybase-700 hover:border-green-500 invalid:border-red
    valid:border-green-500;
    width: 100%;
  }

  .textarea {
    @apply py-8 md:py-6 lg:py-4 px-2 border rounded mb-2;
    width: 100%;
  }

  .form {
    @apply py-3 text-4xl md:text-sm w-full md:w-96 text-mybase-900;
  }
}
